In [4]:
import pandas as pd
# Step 1: Use the appropriate pandas method to read the titanic data into your python file 
titanic_data = pd.read_csv("titanic.csv")
titanic_data

In [ ]:
# Step 2(a): Use the pandas method that reads the first 25 lines of the dataset
first_25_passengers = titanic_data.head(25)
first_25_passengers

In [ ]:
# Step 2(b): Use the pandas method thats reads the last 25 lines of the dataset
last_25_passengers = titanic_data.tail(25)
last_25_passengers

In [ ]:
# Step 3: Use the pandas method that only tells us the number of rows and columns in our data
titanic_shape = titanic_data.shape
titanic_shape

In [ ]:
# Step 4: Describe the titanic data
titanic_description = titanic_data.describe()
titanic_description

In [ ]:
# Step 5(b): How many passengers were between the ages of 17 to 25?
young_adults = titanic_data [ (titanic_data["Age"] >=17) & (titanic_data["Age"]<= 25)].shape[0]
young_adults

In [ ]:
# Step 5(c): How many passengers were between the ages of 26 to 40?
adults = titanic_data [ (titanic_data["Age"] >=26) & (titanic_data["Age"]<= 40)].shape[0]
adults

In [ ]:
# Step 5(d): How many passengers were between the ages of 41 to 59?
mature_adults = titanic_data [ (titanic_data["Age"] >=41) & (titanic_data["Age"]<= 59)].shape[0]
mature_adults

In [ ]:
# Step 5(e): How many passengers were 60 or older?
seniors = titanic_data [ (titanic_data["Age"] >=60) & (titanic_data["Age"]<= -1)].shape[0]
seniors

In [ ]:
# Step 6: How many values are missing from the "age" column
missing_ages = len(titanic_data[ titanic_data["Age"].isna()])
missing_ages

In [ ]:
# Step 7: List out all the available passengers' ages
age_list = titanic_data["Age"].dropna().unique()
age_list

In [ ]:
# Step 8: Filter the DataFrame to find all passengers who boarded the Titanic at Port Cherbourg
cherbourg_passengers = titanic_data[ titanic_data["Embarked"] == "C"]
cherbourg_passengers

In [ ]:
# Step 9(a): Find the average age of all female passengers
avg_fem_age = titanic_data[(titanic_data["Sex"] == "Female") & (titanic_data["Age"].notna())].mean()
# avg_fem_age = fem_df["Age"].mean()
#fem_df = titanic_data[(titanic_data["Sex"] == "female") & (titanic_data["Age"].notna())].mean()
avg_fem_age

In [ ]:
# Step 9(b): Find the average age of all male passengers
avg_male_age = titanic_data[(titanic_data["Sex"] == "Male") & (titanic_data["Age"].notna())].mean()
avg_male_age

In [ ]:
# Step 10(a): Find the survival percentage of passengers in group "C"
cherbourg_passengers = titanic_data[ titanic_data["Embarked"] == "C"]
survived_df =  cherbourg_passengers[cherbourg_passengers["Survived"] == 1 ] 
survived_count = len(survived_df)
total_count = len(cherbourg_passengers)
cherbourg_survival = survived_count / total_count * 100

In [ ]:
# Step 10(b): Find the survival percentage of passengers in group "Q"
queenstown_passengers = titanic_data [titanic_data["Embarked"] == "Q"]

survived_df1 = queenstown_passengers[queenstown_passengers["Survived"] == 1]

survived_count1 = len(survived_df1)
total_count1 = len(queenstown_passengers)
queenstown_survival = survived_count1 / total_count1 * 100

In [ ]:
# Step 10(c): Find the survival percentage of passengers in group "S"
south_passengers = titanic_data[ titanic_data["Embarked"]== "S"]
Southampton_survived_df = south_passengers[south_passengers["Survived"] == 1]
Southampton_survived_count = len(Southampton_survived_df)
Southampton_total_count = len(south_passengers)
Southampton_survival = Southampton_survived_count/ Southampton_total_count * 100